/* Hide number input spinners for all browsers */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner[type=number] {
  -moz-appearance: textfield;
}
/* App-specific styles */
.App {
  text-align: center;
}

/* Any custom component styles can go here */
